<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>鑫华新登录</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/default.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<article class="htmleaf-container">
		
		<div class="panel-lite" style="margin-top: 13%;">
		  <div class="thumbur">
		    <div class="icon-lock"></div>
		  </div>
		  <h4>员工登录</h4>
		  <form method="post" action="">
		  <div class="form-group">
		    <input required="required" name="name" class="form-control"/>
		    <label class="form-label">用户名    </label>
		  </div>
		  <div class="form-group">
		    <input type="password" name="pass" required="required" class="form-control"/>
		    <label class="form-label">密　码</label>
		  </div><a href="#"></a>
		  <button type="submit" class="floating-btn"><i class="icon-arrow"></i></button>
		  </form>
		</div>
		
	</article>
	
</body>
</html>