<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://lib.h-ui.net/html5.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/respond.min.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="http://lib.h-ui.net/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="http://lib.h-ui.net/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>整洁页面</title>
<style type="text/css">
.tab{width: 80%}
	tr td{text-align: center!important;padding: 8px 0!important;width: 25%;}
	.navtab{border: 1px solid #ddd;}
	.navtab ul li{float: left;width: 25%;text-align: center;}
	.navtab ul li a{display: inline-block;padding: 15px 0;text-align: center;width: 100%;}
	.navtab ul li a:hover{text-decoration: none;color: #fff;background: #5a98de;}
	.nei{padding: 20px 0px;}
	.hd{display: none;}
	.act{color: #fff;background: #5a98de;}
</style>
</head>
<body style="padding: 20px;">
<div class="tab">
	<div class="navtab">
		<ul>
			<li><a href="#" class="act">操作界面</a></li>
			<li><a href="#">机组状态</a></li>
			<li><a href="#">参数设置</a></li>
			<li><a href="#">二期扩展</a></li>
		</ul>
		<div style="height: 0;overflow: hidden;clear: both;"></div>
	</div>
	<div class="tab_main">
		<div class="nei hd" style="display: block;">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<tbody>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
					<tr>
						<td>蒸汽压力</td>
						<td>0.68MPa</td>
						<td>烟气温度</td>
						<td>113℃</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nei hd">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<tbody>
					<tr>
						<td>超温信号</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
					<tr>
						<td>超温信号</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nei hd">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<tbody>
					<tr>
						<td>哇哈哈哈</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
					<tr>
						<td>超温信号</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nei hd">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<tbody>
					<tr>
						<td>篱笆篱笆篱笆</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
					<tr>
						<td>超温信号</td>
						<td>正常</td>
						<td>超压信号</td>
						<td>正常</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
	$(function(){
		$(".navtab a").click(function(){
			var i=$(this).index(".navtab a");
			$(".navtab li a").removeClass();
			$(this).addClass("act");
			$(".hd:eq("+i+")").show().siblings().hide();
		})
	})
</script>
</body>
</html>